* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ecf2ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 65vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    border-radius: 46px;
    box-shadow: 4px 4px 4px rgba(144, 144, 144, 0.668);
    display: flex;
}

.final-result {
    width: 50%;
    background-color: rgba(0, 0, 255, 0.315);
    height: 100%;
    border-radius: 46px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-result {
    font-size: 18px;
    font-weight: 600;
    color: hsl(241, 100%, 89%);
    margin-top: 30px;
}

.final-result .score {
    margin-top: 20px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 180px;
    height: 180px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how-is-score {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 500;
    color: hsl(221, 100%, 96%);
}

.compair-score {
    margin-top: 30px;
    padding: 0px 55px;
    font-size: 14px;
    text-align: center;
    color: hsl(241, 39%, 70%);
    text-wrap: wrap;
    font-weight: 500;
}

.obtained {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.out-of {
    color: hsl(255, 38%, 59%);
    font-weight: 600;
}

.marks {
    box-sizing: border-box;
    width: 50%;
    padding: 40px;
}

.summary {
    font-size: 18px;
    font-weight: 600;
}

.marks-for-each-catagory-one {
    margin-top: 20px;
    height: 80%;
}

.catagory {
    margin-top: 16px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    align-items: center;
}

.catagory-reaction {
    background-color: hsl(0, 64%, 91%);
}

.catagory-memory {
    background-color: hsl(40, 88%, 93%)
}

.catagory-verbal {
    background-color: hsl(166, 100%, 93%)
}

.catagory-visual {
    background-color: hsl(235, 100%, 93%)
}

.catagory-name {
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.reaction {
    color: hsl(0, 100%, 67%);
}

.memory {
    color: hsl(39, 100%, 56%)
}

.verbal {
    color: hsl(166, 100%, 37%)
}

.visual {
    color: hsl(234, 85%, 45%)
}

.svgs {
    margin-left: 10px;
}
.input {
    width: 25px;
    margin-right: 10px;
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
     font-size: 14px;
    font-weight: 700;
}
.hundred {
    color: #939393;
    font-size: 14px;
    font-weight: 700;
}
.continue {
    border: none;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height: 50px;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.continue:active {
    opacity: 80%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
